@mixin border($border) {
	border: $border;
	-o-border: $border;
	-ms-border: $border;
	-moz-border: $border;
	-webkit-border: $border;
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-o-border-radius: $radius;
	-ms-border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

@mixin box-sizing($sizing) {
	box-sizing: $sizing;
	-o-box-sizing: $sizing;
	-ms-box-sizing: $sizing;
	-moz-box-sizing: $sizing;
	-webkit-box-sizing: $sizing;
}

@mixin box-shadow($shadow) {
	box-shadow: $shadow;
	-o-box-shadow: $shadow;
	-ms-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
}

@mixin transition($transition) {
	transition: $transition;
	-o-transition: $transition;
	-ms-transition: $transition;
	-moz-transition: $transition;
	-webkit-transition: $transition;
}

@mixin animation($animation) {
	animation: $animation;
	-o-animation: $animation;
	-ms-animation: $animation;
	-moz-animation: $animation;
	-webkit-animation: $animation;
}

@mixin background-size($size) {
	background-size: $size;
	-o-background-size: $size;
	-ms-background-size: $size;
	-moz-background-size: $size;
	-webkit-background-size: $size;
}

@mixin background-repeat($repeat) {
	background-repeat: $repeat;
	-o-background-repeat: $repeat;
	-ms-background-repeat: $repeat;
	-moz-background-repeat: $repeat;
	-webkit-background-repeat: $repeat;
}

@mixin background-position($position) {
	background-position: $position;
	-o-background-position: $position;
	-ms-background-position: $position;
	-moz-background-position: $position;
	-webkit-background-position: $position;
}

@mixin background($background) {
	background: $background;
	-o-background: $background;
	-ms-background: $background;
	-moz-background: $background;
	-webkit-background: $background;
}

@mixin background-color($color) {
	background-color: $color;
	-o-background-color: $color;
	-ms-background-color: $color;
	-moz-background-color: $color;
	-webkit-background-color: $color;
}

@mixin background-image($image) {
	background-image: $image;
	-o-background-image: $image;
	-ms-background-image: $image;
	-moz-background-image: $image;
	-webkit-background-image: $image;
}

@mixin zoom($zoom) {
	zoom: $zoom;
    -webkit-transform: scale($zoom);
    -moz-transform: scale($zoom);
    -ms-transform: scale($zoom);
    -o-transform: scale($zoom);
    transform: scale($zoom);
}