@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes slide_to_top {
    from {
        top: 200%;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@-moz-keyframes slide_to_top {
    from {
        top: 200%;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@-ms-keyframes slide_to_top {
    from {
        top: 200%;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@-o-keyframes slide_to_top {
    from {
        top: 200%;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes slide_to_top {
    from {
        top: 200%;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes slide_to_top_content {
    from {
        top: 200%;
        opacity: 0;
    }
    to {
        top: 90px;
        opacity: 1;
    }
}

@-moz-keyframes slide_to_top_content {
    from {
        top: 200%;
        opacity: 0;
    }
    to {
        top: 90px;
        opacity: 1;
    }
}

@-ms-keyframes slide_to_top_content {
    from {
        top: 200%;
        opacity: 0;
    }
    to {
        top: 90px;
        opacity: 1;
    }
}

@-o-keyframes slide_to_top_content {
    from {
        top: 200%;
        opacity: 0;
    }
    to {
        top: 90px;
        opacity: 1;
    }
}

@keyframes slide_to_top_content {
    from {
        top: 200%;
        opacity: 0;
    }
    to {
        top: 90px;
        opacity: 1;
    }
}

@-webkit-keyframes slide_to_top_content_2 {
    from {
        bottom: -100%;
        opacity: 0;
    }
    to {
        bottom: 20px;
        opacity: 1;
    }
}

@-moz-keyframes slide_to_top_content_2 {
    from {
        bottom: -100%;
        opacity: 0;
    }
    to {
        bottom: 20px;
        opacity: 1;
    }
}

@-ms-keyframes slide_to_top_content_2 {
    from {
        bottom: -100%;
        opacity: 0;
    }
    to {
        bottom: 20px;
        opacity: 1;
    }
}

@-o-keyframes slide_to_top_content_2 {
    from {
        bottom: -100%;
        opacity: 0;
    }
    to {
        bottom: 20px;
        opacity: 1;
    }
}

@keyframes slide_to_top_content_2 {
    from {
        bottom: -100%;
        opacity: 0;
    }
    to {
        bottom: 20px;
        opacity: 1;
    }
}

@-webkit-keyframes move {
    0%, 100% { transform: translateY(2500%); }
    50% { transform: translateY(0%); }
}

@-moz-keyframes move {
    0%, 100% { transform: translateY(2500%); }
    50% { transform: translateY(0%); }
}

@-ms-keyframes move {
    0%, 100% { transform: translateY(2500%); }
    50% { transform: translateY(0%); }
}

@-o-keyframes move {
    0%, 100% { transform: translateY(2500%); }
    50% { transform: translateY(0%); }
}

@keyframes move {
    0%, 100% { transform: translateY(2500%); }
    50% { transform: translateY(0%); }
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}

@-moz-keyframes bounce {
  0%, 100% {
    -moz-transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-5px);
  }
}

@-ms-keyframes bounce {
  0%, 100% {
    -ms-transform: translateY(0);
  }
  50% {
    -ms-transform: translateY(-5px);
  }
}

@-o-keyframes bounce {
  0%, 100% {
    -o-transform: translateY(0);
  }
  50% {
    -o-transform: translateY(-5px);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}