@import "base";
@import "mixins";

*,
*:before,
*:after {
    @include box-sizing(border-box);
}

a {
    color: $black_color;
    text-decoration: none;
    cursor: pointer;
    @include transition(all .5s ease-in-out);
    &:focus {
        outline: 0;
    }
}

body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: $black_color;
    z-index: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include transition(all .5s ease-in-out);
}

.loading {
  text-align: center;
  padding: 25px 0;
  > {
    .mini {
      max-width: 12px;
    }
    img {
      max-width: 55px;
    }
  }
}

.m_con {
    position: absolute;
    width: 100%;
    height: 100%;
    @include background-size(cover);
    @include background-color($grey_color);
    @include transition(all .5s ease-in-out);
}

.s_con {
    position: fixed;
    max-width: $max_width;
    height: 100%;
    overflow: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    @include background-image(radial-gradient(circle, #00dfbb, #00e3aa, #00e793, #00e978, #12eb55));
    @include transition(all .5s ease-in-out);
}

.l_con {
    position: relative;
    width: 100%;
    padding-bottom: 50px;
    color: $base_color;
    z-index: 0;
    @include transition(all .5s ease-in-out);
}

.n_bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: $max_width;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    @include background-color($white_color);
    @include box-shadow(1px 1px 6px 0px rgba(30, 30, 30, 0.15));
    > {
      a {
        font-size: 14px;
        color: $grey_two_color;
      }
      .router-link-active {
        font-weight: bold;
        color: $blue_color;
      }
    }
}

.l_content {
  padding: 10px 0;
}

.c_l {
  padding-top: 10px;
}

.img-title {
    max-width: 50px;
    @include transition(all .5s ease-in-out);
}

.t_p {
    font-size: 16px;
    font-weight: bold;
    color: $white_color;
}

.i_p {
    max-width: 95px;
    text-align: center;
    padding: 10px 5px 5px;
    margin: 0 auto;
    @include background-color($white_color);
    @include box-shadow(1px 1px 6px 0px rgba(30, 30, 30, 0.15));
    @include border-radius(10px);
    @include transition(all .5s ease-in-out);
    > {
      img {
        max-height: 55px;
      }
      .i_t {
        font-size: 10px;
        margin-bottom: 5px;
      }
      .i_st {
        font-size: 14px;
        margin-top: -5px;
        margin-bottom: 20px;
      }
    }
    &:hover {
      @include box-shadow(1px 1px 6px 0px rgba(30, 30, 30, 0.30));
    }
}

.r_c {
    width: 100%;
    overflow: hidden;
    @include transition(all .5s ease-in-out);
    > {
        .r_c_3 {
            float: left;
            width: 33.3333333%;
            padding: 5px;
            @include transition(all .5s ease-in-out);
        }
        .r_c_4 {
            float: left;
            width: 25%;
            padding: 5px;
            @include transition(all .5s ease-in-out);
        }
    }
}

.c_b_t {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    text-align: center;
    > {
        .f_b {
            display: inline-block;
            max-width: 120px;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1px;
            text-align: center;
            padding: 10px 13px;
            margin: 0 5px;
            color: $white_color;
            @include border-radius(5px);
        }
        .f_t {
            color: $white_color;
            @include border(1px solid $base_color);
            @include background-color($base_color);
        }
        .f_c {
            color: $base_color;
            @include border(1px solid $base_color);
            @include background-color(transparent);
        }
    }
}

@media (max-width: 320px) {
    .r_c > .r_c_4 {
        width: 33.3333333%;
    }
}