<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Tokopedia Test | Gilang Romadhanu Tartila</title>
    <meta name="description" content="Tokopedia Test - Gilang Romadhanu Tartila - Pokemon WebApps">
    <meta itemprop="title" content="Tokopedia Test | Gilang Romadhanu Tartila">
    <meta itemprop="description" content="Tokopedia Test - Gilang Romadhanu Tartila - Pokemon WebApps">
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:locale:alternate" content="en_GB" />
    <meta property="og:locale:alternate" content="id_ID" />
    <meta property="og:title" content="Tokopedia Test | Gilang Romadhanu Tartila" />
    <meta property="og:url" content="http://tokopedia.gilangtartila.com" />
    <meta property="og:description" content="Tokopedia Test - Gilang Romadhanu Tartila - Pokemon WebApps" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="#" />
    <meta name="twitter:title" content="Tokopedia Test | Gilang Romadhanu Tartila" />
    <meta name="twitter:description" content="Tokopedia Test - Gilang Romadhanu Tartila - Pokemon WebApps" />
    <meta name="twitter:url" content="http://tokopedia.gilangtartila.com/">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but tpd doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
