<template>
  <section class="l_content">
    <div v-if="!open_detail || take" class="l_p">
      <img class="img-title" alt="Pokemon Logo" src="@/assets/images/p-logo.jpg">
      <div class="t_p">List Pokemon</div>
      <div v-if="pokemons.length > 0" class="r_c c_l">
        <a @click="openDetail(pokemon_details[i])" v-for="(pokemon, i) in pokemons" :key="i" class="r_c_3 i_b">
          <div class="i_p">
            <div class="i_t">{{ pokemon_details[i] ? convertName(pokemon_details[i].name) : null }}</div>
            <img :src="pokemon_details[i] ? pokemon_details[i].sprites.front_default : require('@/assets/images/p-logo.jpg')" alt="Pokemon Foto">
            <div class="i_st" v-if="pokemon_details[i]">{{ getCountPokemon(pokemon_details[i]) }}</div>
            <div v-else class="loading">
              <img class="mini" src="@/assets/images/loading.svg" alt="Loading">
            </div>
          </div>
          <div class="c_p">
            <a class="c_p_b" @click.stop="takePokemon(pokemon_details[i])">
              <img src="@/assets/images/catch.svg" alt="Catch Pokemon">
            </a>
          </div>
        </a>
      </div>
      <div v-if="loading" class="loading">
        <img src="@/assets/images/loading.svg" alt="Loading">
      </div>
    </div>
    <DetailPokemon v-else-if="open_detail && !take" />
    <TakePokemon v-if="take" :data="open_detail"/>
  </section>
</template>

<script>
import axios from 'axios'

import DetailPokemon from '@/components/DetailPokemon.vue'
import TakePokemon from '@/components/TakePokemon.vue'

export default {
  name: 'ListPokemon',
  components: {
    DetailPokemon,
    TakePokemon
  },
  data() {
    return {
      pokemons: [],
      pokemon_details: [],
      loading: true
    }
  },
  methods: {
    async getPokemonList() {
      await axios.get(this.serviceAPI + '/pokemon').then(async (res) => {
        if (res.data.results) {
          this.pokemons = res.data.results
          for (let i = 0; i < this.pokemons.length; i++) {
            this.getPokemonDetail(this.pokemons[i].name).then(detail => {
              this.pokemon_details.push(detail.data)
            })
          }
        }
        this.loading = false
      }).catch((e) => {
        console.log(e);
      })
    }
  },
  mounted() {
    this.getPokemonList()
  },
}
</script>

<style lang="scss" scoped>
@import '../assets/scss/main.scss';

.c_p {
  width: 100%;
  margin-top: -25px;
  > .c_p_b {
    text-align: center;
    > img {
      max-width: 50px;
    }
  }
}
</style>