<template>
  <section class="l_content">
    <div v-if="!open_detail" class="l_p">
      <img class="img-title" alt="Pokemon Logo" src="@/assets/images/p-logo.jpg">
      <div class="t_p">My Pokemon</div>
      <div v-if="my_pokemon.length > 0 && !loading" class="r_c c_l">
        <a @click="openDetail(pokemon.data)" v-for="(pokemon, i) in my_pokemon" :key="i" class="r_c_3 i_b">
          <div class="i_p">
            <div class="i_t">{{ pokemon ? convertName(pokemon.nickname) : null }}</div>
            <img :src="pokemon.data ? pokemon.data.sprites.front_default : require('@/assets/images/p-logo.jpg')" alt="Pokemon Foto">
            <div @click.stop class="d_p">
              <a class="r_b_a" @click="removePokemon(pokemon.nickname, 1)">Remove</a>
            </div>
          </div>
        </a>
      </div>
      <div v-if="loading" class="loading">
        <img src="@/assets/images/loading.svg" alt="Loading">
      </div>
    </div>
    <DetailPokemon v-else :type="2" />
  </section>
</template>

<script>
import axios from 'axios'

import DetailPokemon from '@/components/DetailPokemon.vue'

export default {
  name: 'MyPokemon',
  components: {
    DetailPokemon
  },
  data() {
    return {
      pokemon_details: [],
      loading: true
    }
  },
  watch: {
    my_pokemon(newVal, oldVal) {
      for (let i = 0; i < this.my_pokemon.length; i++) {
        this.pokemon_details.push(this.my_pokemon[i].data)
      }
    }
  },
  methods: {
    plus(count) {
      if (this.count < count) {
        this.count++
      }
    },
    minus() {
      if (this.count > 1) {
        this.count--
      }
    },
    async getMyPokemonList() {
      if (this.my_pokemon.length > 0) { 
        for (let i = 0; i < this.my_pokemon.length; i++) {
          this.pokemon_details.push(this.my_pokemon[i].data)
        }
      }
      this.loading = false
    }
  },
  mounted() {
    this.getMyPokemonList()
  },
}
</script>

<style lang="scss" scoped>
@import '../assets/scss/main.scss';

.i_p > .i_st {
  margin-bottom: 7px;
}

.r_b_a {
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 5px;
  color: $white_color;
  @include border-radius(5px);
  @include background-color($red_color);
}
</style>