<template>
  <div class="d_con">
    <span class="a_q"></span>
    <a @click="closeAll()" class="c_b"></a>
    <div class="d_c">
      <div class="d_c_b">CP {{ open_detail.base_experience }}</div>
      <div class="d_c_l">
        <div class="d_c_p">
          <img alt="Pokemon Logo" :src="open_detail ? open_detail.sprites.front_default : require('@/assets/images/p-logo.jpg')">
        </div>
        <div class="n_p" v-if="type == 2">{{ nickname }} <a @click="updateNickname(nickname)">Update</a></div>
        <div class="n_p" v-else>{{ convertCode(open_detail.id) }} {{ open_detail.name }}</div>
        <div class="i_s">
          <span>WEIGHT : {{ open_detail.weight }} kg</span>
          <span>HEIGHT : {{ open_detail.height }} m</span>
          <span>TYPE : {{ open_detail.types[0].type.name.toUpperCase() }}</span>
        </div>
        <div class="i_g">{{ ability.generation ? convertText(ability.generation.name) : null }}</div>
        <div class="i_a">
          <div class="t_a">Ability</div>
          <div class="d_a">{{ ability.effect_entries ? ability.effect_entries[0].effect : null }}</div>
        </div>
        <div class="i_st">
          <div class="i_st_t">Pokemon Stat</div>
          <div class="i_st_i" v-for="(stat, i) in open_detail.stats" :key="i">
            <span>{{ convertName(stat.stat ? convertText(stat.stat.name) : null)}}</span>
          </div>
        </div>
        <a v-if="type == 1" class="b_t_p" @click="takePokemon(open_detail)">Take Pokemon</a>
        <a v-else class="b_t_p btr" @click="removePokemon(nickname, 2)">Remove Pokemon</a>
      </div>
    </div>
    <TakePokemon v-if="take" :data="open_detail"/>
    <UpdateNickname v-if="update" :data="open_detail"/>
  </div>
</template>

<script>
import axios from 'axios'

import TakePokemon from '@/components/TakePokemon.vue'
import UpdateNickname from '@/components/UpdateNickname.vue'

export default {
  name: 'DetailPokemon',
  props: {
    type: {
      type: Number,
      default: 1
    },
  },
  components: {
    TakePokemon,
    UpdateNickname
  },
  data() {
    return {
      ability: {},
      nickname: null
    }
  },
  methods: {
    convertCode(code) {
      let key = code.toString()
      let result;
      if (key.length == 1) {
        result = '00' + key
      } else if (key.length == 2) {
        result = '0' + key
      } else if (key.length == 3) {
        result = key
      }
      return result
    },
    convertText(text) {
      try {
        let key = text.split('-')
        let a = this.convertName(key[0])
        let b = key[1].toUpperCase()

        return a + ' ' + b
      } catch (e) {
        return text
      }
    },
    async getAbility() {
      await axios.get(this.serviceAPI + '/ability/' + this.open_detail.id).then(async (res) => {
        this.ability = res.data
      }).catch((e) => {
        console.log(e);
      })
    },
    getMyPokemon() {
      if (this.type == 2) {
        this.my_pokemon.filter((val) => {
          if (val.data.name == this.open_detail.name) {
            this.nickname = val.nickname
          }
        })
      }
    }
  },
  mounted() {
    this.getMyPokemon()
    this.getAbility()
  },
}
</script>

<style scoped lang="scss">
@import '../assets/scss/main.scss';
@import '../assets/scss/animation.scss';

.a_q {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 25px;
    z-index: 0;
    transform: translateY(0%);
    @include background-image(linear-gradient(to bottom, rgba(255,255,255,.2), rgba(255,255,255,.5), rgba(255,255,255,.2)));
    @include animation(move 5s cubic-bezier(0.15, 0.44, 0.76, 0.64));
    animation-iteration-count: infinite;
}

.c_b {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  padding: 5px;
  @include border-radius(50px);
  @include background-color($white_color);
  @include box-shadow(1px 1px 6px 0px rgba(30, 30, 30, 0.15));
  &:hover {
    @include box-shadow(1px 1px 6px 0px rgba(30, 30, 30, 0.30));
  }
  &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 23px;
    width: 2px;
    background-color: $base_color;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.d_con {
  position: fixed;
  top: 0;
  bottom: 50px;
  right: 0;
  left: 0;
  max-width: $max-width;
  margin: 0 auto;
  overflow: auto;
  @include animation(slide_to_top .5s);
  > .d_c {
    width: 100%;
    overflow: hidden;
    > {
      .d_c_b {
        width: 100%;
        font-size: 26px;
        font-weight: bold;
        color: $white_color;
        margin-top: 25px;
      }
      .d_c_l {
        position: absolute;
        right: 15px;
        left: 15px;
        top: 90px;
        margin-bottom: 15px;
        padding: 15px;
        color: $black_color;
        @include border-radius(10px);
        @include background-color($white_color);
        @include animation(slide_to_top_content 1s);
        > {
          .d_c_p {
            width: 100%;
            > img {
              width: 150px;
            }
          }
          .n_p {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            text-transform: uppercase;
            letter-spacing: .5px;
            > a {
              display: inline-block;
              font-size: 8px;
              padding: 2px 5px;
              margin-left: 5px;
              color: $base_color;
              @include border-radius(5px);
              @include border(1px solid $base_color);
              &:hover {
                @include background-color($base_color);
                color: $white_color;
              }
            }
          }
          .i_s {
            display: flex;
            justify-content: space-between;
            padding: 5px 20px;
            font-size: 12px;
          }
          .i_g {
            padding-top: 10px;
            text-transform: uppercase;
          }
          .i_a {
            width: 100%;
            text-align: left;
            padding: 10px 15px;
            > {
              .t_a {
                font-size: 14px;
                font-weight: bold;
                letter-spacing: .5px;
                text-transform: uppercase;
                margin-bottom: 5px;
              }
              .d_a {
                font-size: 12px;
              }
            }
          }
          .i_st {
            text-align: left;
            padding: 10px 15px;
            font-size: 10px;
            overflow: hidden;
            > {
              .i_st_t {
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 5px;
              }
              .i_st_i {
                float: left;
                display: inline-block;
                padding: 5px 10px;
                @include border(1px solid $grey_color); 
              }
            }
          }
          .b_t_p {
            display: inline-block;
            max-width: 400px;
            padding: 6px 14px;
            color: $base_color;
            font-size: 14px;
            font-weight: bold;
            margin: 15px 0;
            @include border(1px solid $base_color);
            @include border-radius(5px);
            &:hover {
              color: $white_color;
              @include border(1px solid transparent);
              @include background-image(radial-gradient(circle, #00dfbb, #00e3aa, #00e793, #00e978, #12eb55));
            }
          }
          .btr {
            color: $red_color !important;
            @include border(1px solid $red_color !important);
            &:hover {
              color: $white_color !important;
              @include background-image(unset !important);
              @include background-color($red_color !important);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 345px) {
  .d_con > .d_c > .d_c_l > .i_s {
    font-size: 10px;
  }
}
</style>
