<template>
  <div class="t_con">
      <div class="t_b">
          <img :class="'t_b_1 ' + (finish ? 'm_b p_b_z ' + (!success ? 'm_b_s' : '') : '')" src="@/assets/images/p-logo.jpg" alt="Pokemon Logo">
          <img :class="'t_b_2 ' + (finish ? 'm_b' : '')" :src="data ? data.sprites.front_default : require('@/assets/images/p-logo.jpg')" alt="Pokemon Logo">
          <div class="t_b_m">{{ message }}</div>
          <div v-if="finish" class="f_m">
              <input v-if="success" type="text" :class="'f_i ' + (error ? 'e_i' : '')" v-model="nickname" placeholder="Set nickname" autofocus>
              <div v-if="!loading" class="c_b_t">
                <a @click="closeAll()" class="f_b f_c">Maybe later</a>
                <a v-if="success" @click="savePokemon()" class="f_b f_t">Save</a>
                <a  v-if="!success" @click="getPokemon()" class="f_b f_t">Try again</a>
              </div>
              <div v-else class="c_b_t loading">
                <img src="@/assets/images/loading.svg" alt="Loading">
              </div>
          </div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'TakePokemon',
  props: ['data'],
  data() {
      return {
          finish: false,
          success: false,
          message: null,
          nickname: null,
          error: false,
          loading: false
      }
  },
  methods: {
      getPokemon() {
          this.success = false
          this.finish = false
          this.message = null
          let number = Math.floor(Math.random() * (2 - 1 + 1)) + 1;
          if (number == 2) {
              this.success = true
          }
          setTimeout(() => {
              this.finish = true
              if (this.success) {
                this.message = 'Hore... pokemon ' + this.convertName(this.data.name) + ' berhasil ditangkap'
              } else {
                this.message = 'Yahhh... pokemon ' + this.convertName(this.data.name) + ' gagal ditangkap'
              }
          }, 2000);
      },
      savePokemon() {
          if (this.nickname) {
            this.loading = true
            let my_pokemon = this.my_pokemon
            let save = {
                nickname: this.nickname,
                data: this.data,
            }
            my_pokemon.push(save)
            localStorage.setItem('my_pokemon', JSON.stringify(my_pokemon))
            this.closeAll()
            this.loading = false
            this.$router.push({ name: 'MyPokemon' })
          } else {
            this.error = true
            setTimeout(() => {
                this.error = false
            }, 2000);
          }
      }
  },
  mounted() {
    this.getPokemon()
  },
}
</script>

<style scoped lang="scss">
@import '../assets/scss/main.scss';
@import '../assets/scss/animation.scss';

.t_con {
  position: fixed;
  top: 0;
  bottom: 50px;
  right: 0;
  left: 0;
  max-width: $max-width;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 3;
  @include animation(fadein .5s);
  @include background-color(rgba(255,255,255,.9));
  > .t_b {
    width: 100%;
    overflow: hidden;
    z-index: 4;
    > {
        .t_b_1 {
            position: absolute;
            top: 150px;
            right: auto;
            left: 30px !important;
            max-width: 80px;
            z-index: 5;
            @include animation(bounce 1s infinite);
            @include transition(all .5s ease-in-out);
        }
        .t_b_2 {
            position: absolute;
            top: 150px;
            right: 30px !important;
            left: auto;
            max-width: 80px;
            z-index: 4;
            @include animation(bounce .5s infinite);
            @include transition(all .5s ease-in-out);
        }
        .m_b {
            right: 50% !important;
            left: 50% !important;
            margin: 0 auto;
            @include animation(unset !important);
            @include transition(all 1s ease-in-out);
        }
        .p_b_z {
            max-width: 100px;
            width: 100px;
        }
        .m_b_s {
            left: 100% !important;
        }
        .t_b_m {
            position: absolute;
            top: 250px;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 22px;
            font-weight: bold;
            color: $black_color;
            @include animation(fadein 1s);
            @include transition(all .5s ease-in-out);
        }
        .f_m {
            position: absolute;
            top: 330px;
            left: 20px;
            right: 20px;
            margin-bottom: 20px;
            @include animation(fadein 1s);
            @include transition(all .5s ease-in-out);
            > {
                .e_i {
                    @include border(1px solid $red_color !important);
                }
                .f_i {
                    width: 100%;
                    font-size: 16px;
                    letter-spacing: 1px;
                    text-align: center;
                    padding: 10px 16px;
                    @include border(1px solid $grey_color);
                    @include border-radius(5px);
                    @include transition(all .5s ease-in-out);
                    &:focus {
                        outline: 0
                    }
                }
            }
        }
    }
  }
}
</style>
