<template>
  <div class="u_con">
      <div class="u_b">
          <div class="u_b_m">
              <input type="text" :class="'u_i ' + (error ? 'e_u' : '')" v-model="nickname" placeholder="Set nickname" autofocus>
              <div v-if="!loading" class="c_b_t">
                <a @click="closeUpdate()" class="f_b f_c">Maybe later</a>
                <a @click="savePokemon()" class="f_b f_t">Update</a>
              </div>
              <div v-else class="c_b_t loading">
                <img src="@/assets/images/loading.svg" alt="Loading">
              </div>
          </div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'UpdatePokemon',
  props: ['data'],
  data() {
      return {
          nickname: null,
          old_nickname: null,
          error: false,
          loading: false
      }
  },
  methods: {
      getPokemon() {
        this.my_pokemon.filter((val) => {
            if (val.data.name == this.open_detail.name) {
                this.nickname = val.nickname
                this.old_nickname = val.nickname
            }
        })
      },
      savePokemon() {
          if (this.nickname) {
            this.loading = true
            let mypokemon = this.my_pokemon
            var get_index = mypokemon.findIndex(x => x.nickname == this.old_nickname)
            mypokemon[get_index].nickname = this.nickname
            localStorage.setItem('my_pokemon', JSON.stringify(mypokemon))
            this.closeUpdate()
            this.loading = false
            this.$router.go()
          } else {
            this.error = true
            setTimeout(() => {
                this.error = false
            }, 2000);
          }
      },
      removeArray(arr, attr, val){
        var i = arr.length;
        while(i--){
            if( 
                arr[i] && 
                arr[i].hasOwnProperty(attr) && 
                (arguments.length > 2 && arr[i][attr] === val) 
            ) { 
                arr.splice(i,1);
            }
        }
        return arr;
      }
  },
  mounted() {
    this.getPokemon()
  },
}
</script>

<style scoped lang="scss">
@import '../assets/scss/main.scss';
@import '../assets/scss/animation.scss';

.u_con {
  position: fixed;
  top: 0;
  bottom: 50px;
  right: 0;
  left: 0;
  max-width: $max-width;
  margin: 0 auto;
  overflow: hidden;
  z-index: 7;
  @include animation(fadein .5s);
  @include background-color(rgba($base_color,.7));
  > .u_b {
    position: absolute;
    right: 15px;
    left: 15px;
    bottom: 20px;
    margin-bottom: 15px;
    padding: 15px;
    color: $black_color;
    @include border-radius(10px);
    @include background-color($white_color);
    @include animation(slide_to_top_content_2 1s);
    > .u_b_m {
        @include animation(fadein 1s);
        @include transition(all .5s ease-in-out);
        > {
            .e_u {
                @include border(1px solid $red_color !important);
            }
            .u_i {
                width: 100%;
                font-size: 16px;
                letter-spacing: 1px;
                text-align: center;
                padding: 10px 16px;
                @include border(1px solid $grey_color);
                @include border-radius(5px);
                @include transition(all .5s ease-in-out);
                &:focus {
                    outline: 0
                }
            }
        }
    }
  }
}
</style>
