<template>
  <div class="m_con">
    <div class="s_con">
      <div class="l_con">
        <router-view/>
        <div class="n_bar">
          <router-link @click.native="closeAll()" to="/" title="List Pokemon" rel="noopener" exact>List Pokemon</router-link> |
          <router-link @click.native="closeAll()" to="/my-pokemon" title="My Pokemon" rel="noopener" exact>My Pokemon</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import './assets/scss/main.scss';

.l_con {
  position: relative;
  width: 100%;
  color: $black_color;
}
</style>
